.about {
    display: flex;
    height: 95vh;
}

.header {
    position: relative;
    height: 95vh;
    width: 100%;
    text-shadow: 2px 2px grey;
    align-content: center;
    justify-content: center;
    h1 {
        position: absolute;
        z-index: 1;
        color: $textColor;
        position: absolute;
        bottom: 30%;
        text-align: center;
        padding: 0 10px;
        margin: auto;
    }
}

.about-pic {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-text {
    padding: 10px 20px;
}